*{
    margin:0;
    padding:0;
    box-sizing: border-box; 
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: rgb(175, 37, 37);
    position: fixed;
    top:0;
    left:0;
    right:0;
}
.menu{
cursor: pointer;
}
nav{
    flex: 1;
    text-align:right;
}
nav ul{
display: inline-block;
list-style-type: none
}
nav ul li{
    display: inline-block;
    margin-right: 25px;
}
a{
    text-decoration: none;
    color: rgb(229, 236, 216);
    font-size: larger;
}
p{
    color: rgb(175, 37, 37); 
    font-size: xx-large; 
}
.container{
  max-width: auto;
  margin:auto;
}
.intro{
    background-color: rgb(46, 46, 46);
    padding:250px 0;
    text-align: center;
}
h1{
    color:rgb(229, 236, 216); 
    font-size: xxx-large;
}
h2{
    text-decoration: underline;
    color:rgb(229, 236, 216) ;
    font-size: xxx-large;
    text-align: center;
    padding: 100px 0 50px 0;
   
}
.row{
    background-color: rgb(60, 68, 105);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding:0 40px;
}
.col-3{
flex-basis: 30%;
}
.col-3 img{
    max-width: 100%;
    margin-bottom: 50px;
}
.red-T-shirt{
    background-color:rgb(46, 46, 46) ;
    padding: 20px 30px;
    text-align: center;
    margin-bottom: 30px;
    margin-top: -55px;
}

.btn-2{
    color: white;
    background-color:rgb(46, 46, 46) ;
    padding: 10px 30px;
    text-align: center;
    margin-top:30px ;
    margin-bottom: 100px;
}
h3{
    color: white;
}
h4{
    color:white
}
.contacts{
    transition-duration: 1s;
}
.contacts:hover{
    transform: translateY(5px);
}